<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Human in Space</title>
  </head>
  <body>
    <h1>PEOPLE IN SPACE RIGHT NOW:</h1>
    <strong> There is {{ number }} people in space right now: </strong>
    <br />
    <ul>
      {% for astronaut in people %}
      <li>{{ astronaut.name }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
