<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
  </head>
  <body>
    <h1>International Space Station Current Location:</h1>
    <strong> The timestamp of this request is: {{ timestamp }} </strong>
    <br />
    <strong>The latitude of ISS is: {{ iss_position.latitude }} </strong>
    <br />
    <strong>The longitude of ISS is: {{ iss_position.longitude }} </strong>
    <br />
    <strong>The longitude of ISS is: {{ location }} </strong>
  </body>
</html>
